[include]
# private setting such as proxy
     path=.gitconfig.private
[url "https://"]
    insteadOf = git://
[user]
    name = RNo5
    email = numayama2009@gmail.com
[color]
    ui = auto
[alias]
   tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
